<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>
        
        <div class="container">
            <div class="col-12">
                <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/addProducts.html" >Agregar Producto</a></li>
                    <li class="nav-item"><a class="nav-link" href="/listProducts.html" >Lista de Productos</a></li>
                </ul>
                </nav>
                <hr>
                <h3 class="text-center">Añadir Producto</h3>
                <hr>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">    
                            <div class="card-body">
                                <form action="/addP" method="Post" enctype="multipart/form-data">
                                <div class="form-group">
                                <label for="name">Nombre del Producto</label>
                                <input type="text" name="pname" id="name" class="form-control">
                                <label for="price">Precio del producto</label>
                                <input type="number" name="price" id="price" class="form-control">
                                <label for="desc">Descripcion del producto</label>
                                <input type="text" name="desc" id="desc" class="form-control">
                                <label>Añadir Imagen</label>
                            <div class="custom-file mb-2">
                                <input type="file" name="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Elegir imagen</label>
                                
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary"> Agregar </button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery-3.6.0.min.js"></script>
    </body>
</html>
