<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet"> 
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        
        <div>
            <div class="col-12">
                <h3 class="text-center"> Lista de Productos</h3>
                <hr>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/addProducts.html" >Agregar Producto</a></li>
                    <li class="list-inline-item"><a href="/listProducts.html" >Lista de Productos</a></li>
                </ul>
              
                
            </div>
               
            
            
        </div>
        
        
        <script src="js/bootstrap.bundle.js"></script>
        <script src="js/jquery-3.6.0.min.js"></script>
            
    </body>
</html>
