<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>

        <div class="container">
            <div class="col-12">
                <nav clas="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                     <a class="nav-link front-weight" href="/addProducts.html" >Agregar Producto</a>
                    </li>
                    <li class="nav-item">
                     <a class="nav-link front-weight" href="/listProducts.html" >Lista de Productos</a></li>
                </ul>
                </nav>
                <hr>
                <h3 class="text-center">Lista de Productos</h3>
                <hr>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Eliminar Producto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="products : ${products}">
                            <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{products.image}}" style="width: 100px; height: 100px;" </th>
                            <td>[[*{products.name}]]
                             <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+*{products.id}">
                                    Cambiar nombre
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="*{'staticBackdrop'+{products.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar el Nombre</h5>
                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/changeName" method="post">
                                                    <div class="form-group">
                                                        <label>Id del Producto</label>   
                                                        <input type="hidden" th:value="*{products.id}" class="form-control" name="id" ></input>
                                                        <label>Nuevo Nombre</label>
                                                        <input type="text" name="newPname" class="form-control">
                                                        <br>
                                                        <button type="submit" class="btn btn-success">Actualizar</button>
                                                    </div>    

                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> </td>
                            <td>[[*{products.description}]]
                             <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+*{products.id}">
                                    Cambiar descripcion
                                </button>

                                <!-- Modal -->
                                <div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar la descripcion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/changeDescription" method="post">
                                                    <div class="form-group">
                                                        <label>Id del Producto</label>   
                                                        <input type="text" th:value="*{products.id}" class="form-control" name="id" >
                                                        <label>Nueva descripcion</label>  
                                                        <input type="text" name="newDescription" class="form-control">
                                                        <br>
                                                        <button type="submit" class="btn btn-success">Actualizar</button>
                                                    </div>    
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> </td>
                            <td>[[*{products.price}]]
                             <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+*{products.id}">
                                    Cambiar precio
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="precio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Camiar el Precio</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/changePrice" method="post">
                                                    <div class="form-group">
                                                        <label>Id del Producto</label>   
                                                        <input type="text" th:value="*{products.id}" class="form-control" name="id" >
                                                        <label>Nuevo Precio</label>
                                                        <input type="text" name="newPrice" class="form-control">
                                                        <br>
                                                        <button type="submit" class="btn btn-success">Actualizar</button>
                                                    </div>    
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Understood</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> </td>

                            </td>
                            <td><a th:href="@{/deleteProd/} + ${products.id}" class="btn btn-danger">Eliminar</a></td>

                        </tr>

                    </tbody>
                </table>


            </div>






        </div>


        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.6.0.min.js"></script>

    </body>
</html>
